{
    "env": {
        "development": {
            "presets": ["@babel/preset-react", "@babel/preset-env", "@babel/preset-typescript"],
            "plugins": ["@babel/plugin-proposal-class-properties"]
        },
        "browser": {
            "presets": ["@babel/preset-react", "@babel/preset-env", "@babel/preset-typescript"],
            "plugins": ["@babel/plugin-proposal-class-properties"]
        },
        "module": {
            "presets": ["@babel/preset-react", "@babel/preset-env", "@babel/preset-typescript"],
            "plugins": ["@babel/plugin-proposal-class-properties"]
        }
    },
    "sourceMaps": true
}
